.config
*.o
*.d
*.a
*.img
*.bin
*.elf
*.out
*.swp
*.swo
*.so
.git-ignore
*.patch
*.pyc
cscope*
tags
TAGS
.gitid
patches/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
vzcpuidctl
.git-ignore/
